@{
    ViewBag.Title = "Home Page";
}

<a href="myonlineband.com">This is a regular anchor tag</a>
<br />
<a asp-action="About">This is a tag helper</a>
<br />
<a asp-GlyphIcon="Edit">This is my custom helper</a>
<br />
<a asp-action="About" asp-GlyphIcon="Edit">This is my custom helper that links to an action</a>
<br />
<a asp-action="About" asp-glyphicon="delete">This is my custom helper that links to an action</a>