@model List<Recipe06.Dal.Entities.Artist>
@{
 ViewBag.Title = "Home Page";
}

    <h1>ASP.NET MVC 6 Recipes - Recipe 6-6</h1>
<p>Here is a list of artists.</p>
    <ul>
        @foreach (var item in Model)
        {
            @item.UserName
        }
    </ul>
