@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    <p class="lead">This project demonstrates a Data Access layer that uses Entity Framework code first reverse engineered from an existing database.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This application consists of:</h2>
        <ul>
            
        </ul>
    </div>
    
</div>