@using Chapter05.Recipe10.Resources.Web.Views.Home;
@{
    ViewBag.Title = IndexResource.Title;
}

<div class="jumbotron">
    <h1>@IndexResource.JumboTronHeader</h1>
    <p class="lead">@IndexResource.JumboTronLead</p>
</div>