@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    This solution contains all the recipes for Chapter 1
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Examples:</h2>
        <ul>
            <li>The Code in Listing 1-1 is in project.json</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    
</div>