@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    This solution contains all the recipes for Chapter 1
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Examples:</h2>
        <ul>
            <li>Listing 1-1 - open file project.json</li>
            <li>Listing 1-2 - open file config.json</li>
            <li>@Html.ActionLink("Listing 1-3 ", "Index", "MvcBookChapter1") - open file Controllers/MvcBookChapter1Controller.cs. Will return JSON</li>
            <li>Listing 1-4 - Example code found in the file Models/AccountViewModels.cs</li>
            <li>Listing 1-5 - Example code found in Models/GuitarCaseModel.cs</li>
            <li>Listing 1-6 - Example code found in Controllers/HomeController.cs</li>
            <li>Listing 1-7 - Example code found in Controllers/HomeController.cs</li>
            <li>Listing 1-8 - Example code found in Startup.cs</li>
        </ul>
    </div>
    
</div>