@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    <p class="lead">Recipe 5.12 - Using Razor Templates for outbound email</p>
</div>
