@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe 5-6</h1>
    <p class="lead">Creating a Data Acccess Layer using Entity Framework Code First</p>
    <p>
        Demo of a Data Access layer created using Entity Framework in an external class library

    </p>
</div>

<div class="row">
 
</div>