@model Chapter04.Recipe02.Models.LinkViewModel
@{
    ViewBag.Title = "Anchor Tag Helper Examples";
}

<h1>This sample shows how to use the Anchor tag helper</h1>
<div class="alert alert-info">
    Note: In order for Tag helpers to work you need to either add the following to the View page or the _ViewStart.cshtml page
    <br />
    @@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"
</div>


<h2>Creating link with a href to another website</h2>
<a href="@Model.MyUrl">This is a dynamic link</a>
<h2>Creating link to an action on the same controller</h2>
<a asp-action="Contact"  >Here is a link to the Contact action from Home Controller</a>

<h2>Creating link to an action on another controller</h2>
<a asp-action="Contact" asp-controller="">Here is a link to the Contact action from Home Controller</a>

<h2>Creating link to an action on a controller in an Area</h2>

<h2>Creating link that specifies the protocol</h2>

<h2>Creating link to an HTML Fragment</h2>