@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    <p class="lead">
       This project contains examples from recipes 4-2    
    </p>
</div>


<div class="row">
    <div class="col-md-12">
        <h2>This sample shows how to use Tag Helpers to create links:</h2>
        
    </div>

    
</div>