@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dogs Page";
}
<h1>Hard Coded List of Dogs</h1>
We are lazy so only one dog
<br />
@Html.ActionLink("View Dog Info","Display")
<br />
@Html.ActionLink("Edit Dog Info", "Edit")