@model Recipe03.Web.Models.Contact
@{
    ViewBag.Title = "Home Page";
}
<h2>Chapter 04 Recipe 03</h2>
<h3>
    Contact Form
</h3>

<hr />
<form asp-action="Index" asp-controller="Home" asp-anti-forgery="true" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter your name" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Enter your Email" />
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" placeholder="Enter your Phone Number" />
    </div>
    <div class="checkbox">
        <label asp-for="AllowContactAboutOffers">
            
        </label>
        <input asp-for="AllowContactAboutOffers" />
    </div>
    <input type="submit" value="Save Contact Info" class="btn btn-primary" />
</form>

@section Scripts{
<script src="~/lib/jquery-validation/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
     
