@{
    ViewBag.Title = "Home Page";
}
<h1>ASP.NET MVC 6 Recipes Chapter 8 - Moving From Web Forms to MVC</h1>
<div class="row">
    <ul>
        <li>@Html.ActionLink("Recipe 8-3 - Converting a web forms page to MVC", "MyCollaborationSpaces", "Members")</li>
        <li>@Html.ActionLink("Recipe 8-4 - Creating a custom Html helper extension that mimics the ASP.NET Data List Control", "DataListReplacement", "DataExamples") </li>
    </ul>
    
</div>