@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe 5-5</h1>
    <p class="lead">Demo of a simple model built using Entity Framework Model First.</p>
    
    @Html.ActionLink("Artist Database", "Index", "Artists")
</div>
