@{
    ViewBag.Title = "Home Page";
}
@{
 Layout = "/Views/Shared/_Layout.cshtml";
 ViewBag.Title = "Recipe 5-5";
}
<div class="jumbotron">
    <h1>Recipe 5-5</h1>
    <p class="lead">Demo of a simple model built using Entity Framework Model First.</p>
    
    @Html.ActionLink("Artist Database", "Index", "Artists")
</div>
