@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Home Page";
}

<div class="jumbotron">
    <h1>Administration</h1>
    <p class="lead">Welcome to Administration Land</p>
    
</div>

