@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 6 Recipes</h1>
    <p class="lead">
        This project contains examples for Recipe 4-2
    </p>
</div>

<h2>Action Link Examples</h2>
<div class="row">
    <div class="col-md-12">

        <h3>Create an Action Link To Self</h3>
        <pre>
&lt;a&gt;Link to Self &lt;/a&gt;
        </pre>
        <a>Link to Self</a>

        
    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <h3>Create an Action Link To Same Controller</h3>
        <pre>
&lt;a asp-action="about"&gt;Link to other action in same controller&lt;/a&gt;
        </pre>
        <a asp-action="about">Link to other action in same controller</a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3>Create an Action Link to another controller</h3>

        <pre>
&lt;a asp-action="Somewhere" asp-controller="Away" &gt;Action Link to another controller&lt;/a&gt;
        </pre>
        <a asp-action="Somewhere" asp-controller="Away">Action Link to another controller</a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3>Passing a route parameter</h3>

        <pre>
&lt;a asp-action="Somewhere" asp-controller="Away" asp-route-id="12" &gt;Link to item 12&lt;/a&gt;
        </pre>
        <a asp-action="Somewhere" asp-controller="Away" asp-route-id="12">Link to item 12</a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3>Create an Action Link to an action in Area</h3>
        First add the following to code to startup.cs. Note that you need to have a route template that includes the area.
        <pre>
            app.UseMvc(routes =>
            {
              routes.MapRoute(
              name: "default",
              template: "{controller=Home}/{action=Index}/{id?}");

              routes.MapRoute(
              name: "defaultWithArea",
              template: "{controller}/{action}/{area}/{id?}",
              defaults: new { controller = "Home", action = "Index" });
            });
        </pre>
        Then you can create a link to the area like this:
        <pre>

&lt;a  asp-action="InHappyLand" asp-controller="ControllerInArea" asp-route-area="FarFarAway" &gt;Action Link to another area&lt;/a&gt;
        </pre>

        <a asp-action="InHappyLand" asp-controller="ControllerInArea" asp-route-area="FarFarAway">Action Link to another area</a>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3>Create an Action Link with custom HTML Attributes</h3>

        <pre>
 &lt;a asp-action="Contact" asp-controller="Home" title="Click here to see contacts" class="btn btn-primary" &gt;This link looks like a button&lt;/a&gt;
        </pre>

        <a asp-action="Contact" asp-controller="Home" title="Click here to see contacts" class="btn btn-primary">This link looks like a button</a>

    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h3>Create an Action Link with SSL</h3>

        <pre>
&lt;a asp-action="Contact" asp-controller="Home" asp-protocol="https" &gt;This link uses SSL&lt;/a&gt;
        </pre>
        <a asp-action="Contact" asp-controller="Home" asp-protocol="https">This link uses SSL</a>


    </div>

</div>


<div class="row">
    <div class="col-md-12">
        <h3>Create an Action Link with a fragment</h3>
        <pre>
&lt;a asp-action="Profile" asp-controller="Home" asp-fragment="Email" &gt;Link with a fragment&lt;/a&gt;
        </pre>
        <a asp-action="Profile" asp-controller="Home" asp-fragment="Email">Link with a fragment</a>
    </div>

</div>


